doctype html
html
  head
    title imslpPlayer#{title}
    meta(name="google-site-verification", content="TW-sW3lVdD8vhX5tsKlClvznCpgTs-pDgWRsYSgIaP4")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='canonical', href='http://vlcb.netrc.com#{title}')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css')
    link(href='https://fonts.googleapis.com/css?family=Eagle+Lake', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/istyle.css', type='text/css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js')
    block pageheadextras

  body
    div.container.navbar-wrapper
      div.navbar
        div.navbar-inner
          a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') imslpPlayer
          div.nav-collapse.collapse
            ul.nav
              li
                a(id="Composers",onClick="doComposers()") Composers
              li
                a(href='/Playlists') Playlists
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown") About
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="/about") about
                  li
                    a(href="/log") Change log
                  li
                    a(href="/blog") Blog
                  li
                    a(href="/software") Software
                  li
                    a#loginState(href="/auth/google") Login via Google

    block pagecontent

    footer
      br
      br
      g:plusone(size="medium")
      br
      div.span12
        a(rel="license", href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US", title="'IMSLP Player' by Richard Campbell is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License")
          img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png")
          span &nbsp by Richard Campbell, 2013

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")


    block pagescript

