body {
  background-image:url('ricepaper.png');
}

.composerName {
  font-family: 'Eagle Lake',cursive;
  cursor:pointer;
}
.recordingName {
  font-family: 'Eagle Lake',cursive;
  cursor:pointer;
}